.createGroup{
    margin-top:20%;
}
label{
    font-size: 2rem;
}
#addNameBtn{
    margin-top:5%;

}
h1{
    text-align:center;
}
#addNameBtn{
    font-size:2rem;
}
#addNameBtn{
    font-size:2rem;
}
#pickRandomBtn{
    font-size:2rem;
}