.createGroup{
    margin-top:20%;
}
label{
    font-size: 2rem;
}

h1{
    text-align:center;
}
#addNameBtn{
    font-size:2rem;
    margin-top:5%;
}

#pickRandomBtn{
    font-size:2rem;
}
#nameInput{
    width:40rem;
    height:5rem;
    font-size:2rem;
}